node_modules
.eslintcache
.updatable-packages
**/dist
coverage
*.tgz
**/.tmp
**/.local-data
vitest.config.ts.timestamp*
**/.svelte-kit
**/test-results
.vercel
.env
**/storybook-static
*storybook.log
packages/ui-tailwind/src/*.d.ts
packages/ui-tailwind/src/models/*.d.ts
