package-lock.json
.svelte-kit
changelog.md
changelog.md
release/**
**/docs/reference
**/docs/open-api
**/static/locales
**/dist
**/storybook-static
*.otf

packages/ui-components-react/**
packages/ui-components-svelte/**
